p, a {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: hsl(229, 25%, 31%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: bottom;
}

h2 {
  font-size: 1.75rem;
  color: white;
  font-weight: 500;
  margin-bottom: 5px;
  h1 {
    animation: colorChange 4s infinite;
  }
}
h3 {
  font-size: 1.5rem;
  color: white; 
  font-weight: 500;
  margin-bottom: 40px;
  text-align:center ;
}
h4 {
font-size: 1rem;
color: hsl(237, 49%, 15%);
} 

td {
  color: navy;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

td span {
  color: #374255;
  font-size: 5rem;
  font-weight: 900;
  transform: translateY(-10%);
}

.score-board {
  margin-top: 60px; 
  width: 42%; 
  background-color: transparent;
  border-radius: 15px;
  padding: 10px;
  border: 3px solid rgba(255, 255, 255, 0.651);
  text-align: center; 
  height: 180px; 
  margin-left: auto;
  margin-right: auto;
}


.score-board span {
  display: inline-block;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}


.score-board span.score-changed {
  transform: translateY(-10px); 
  color: #f39c12;  
}


.score-board span {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}


table {
  background-color: white;
  width: 24%;
  height: 140px; 
  border-radius: 15px;
  border: 3px solid black;
  text-align: center;
  margin-top: -170px;
  margin-left: auto;
  margin-right: 20px; 
}

.item {
  font-size: 280%;
  font-weight: 800;
  text-align: left;
  animation: colorChange 4s infinite;
}


#progressBarContainer {
  margin-left: -10%;
  margin-top: 10px;
}

#progressBar {
  width: 200%;
  height: 18px;
 background-color: white;
}


































#feedbackContainer {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 30%;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

 
h5 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  display: flex;
}

#feedbackContainer textarea {
  width: 190%;
  height: 130px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#button {
  padding: 10px 20px;
  margin-top: 50px;
  background-color: #2445e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#showFeedbackBtn {
  position: fixed;
  left: 10px;
  bottom: 20px;
  padding: 15px 30px;
  background-color: transparent;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#showFeedbackBtn:hover {
  transform: scale(1.1);
}

#feedbackContainer.show {
  display: flex;
  opacity: 1;
}

#modalTitle {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

#closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: 0px solid white;
  color: gray;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border-radius: 0%;
}

#closeBtn:hover {
  color: #ff0000;
  border-color: #ff0000;
}






#statsBoard {
  position: fixed;
  top: 200px;
  left: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: #333;
  z-index: 1000;
  
}

#statsBoard td {
  padding: 8px 10px;
}

#statsBoard #wins {
  color: #4CAF50;
  font-weight: bold;
}

#statsBoard #losses {
  color: red;
  font-weight: bold;
}

#statsBoard #draws {
  color: orangered;
  font-weight: bold;
  background-color: transparent; 
  border: none; 
}


.item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; 
}

button {
  margin: 15px;
  
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(214, 47%, 23%);
  color: white;
  border: none;
  margin-bottom: 5px; 
}

button:hover {
  background-color: transparent;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#showRulesBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.2rem;
  padding: 15px 40px;  
  border-radius: 10px; 
  background-color: transparent;
  border: 2px solid white; 
  color: white; 
  transition: transform 0.3s ease;  
}

#showRulesBtn:hover {
  transform: scale(1.1);  
}


#rulesContainer {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 50%; 
  top: -100%; 
  transform: translateX(-50%); 
  width: 30%;
  height: 50%;
  background-color: whitesmoke; 
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  transition: top 0.8s ease, transform 0.8s ease; 
}


#rulesContainer.show {
  top: 50%; 
  transform: translateY(-50%) translateX(-50%); 
}


#rulesContainer .close {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}


.rock, .paper, .scissors {
  width: 155px;
  height: 155px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  box-shadow: inset 5px 6px 10px rgba(0, 0, 0, 0.4); 
 
}

.paper {
  border: 17px solid rgb(72, 101, 255);
  top: 10px;  
  left: 15%;  
}

.scissors {
  border: 17px solid rgb(255, 197, 61);
  top: 10px;   
  right: 15%;  
}

.rock {
  border: 17px solid red;
  bottom: -30px; 
  left: 50%;     
  transform: translateX(-60%); 
}


.choice-rock {
  background-color: white; 
  border: 25px solid red; 
  box-shadow: inset 5px 6px 10px rgba(0, 0, 0, 0.4); 
}

.choice-paper {
  background-color: white; 
  border: 25px solid #2445e6; 
  box-shadow: inset 5px 6px 10px rgba(0, 0, 0, 0.4); 
}

.choice-scissors {
  background-color: white; 
  border: 25px solid rgb(255, 197, 61); 
  box-shadow: inset 5px 6px 10px rgba(0, 0, 0, 0.4); 
}

.choice-btn {
  display: inline-block;
  padding: 60px; 
  border-radius: 50%;
  background-color: #f2f2f2;
  box-shadow: inset 5px 6px 10px rgba(0, 0, 0, 0.3); 
  cursor: pointer;
  transition: transform 0.2s;
  margin: 190px;
  margin-top: 130px;
}

.choice-btn img {
  width: 65px;
  height: 65px;
}

#result {
  
  color: black;
  position: relative;
  top: 250px; 
  font-size: 40px; 
}

#result.draw {
  color: orange;
  font-size: 2rem;
}

#result.win {
  color: green;
  font-size: 2rem;
}

#result.lose {
  color: red;
  font-size: 2rem;
}
.result {
  font-size: 1.5rem;
  margin-top: 20px;
  color: white;
}

#playAgainButton {
  background-color: white;
  color: black;  
  border: 2px solid white;
  padding: 15px 70px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;  
  margin: 0 10px;
  font-weight: bold;
  position: relative;  
  top: -290px;  
}


.triangle-bg {
  position: absolute;
  top: 55%;
  left: 101%;
  right: 110%;
  transform: translate(-362%);
 
 
 
}

.glow-effect {
  box-shadow: 0 0 220px 5px rgba(255, 255, 255, 1);
}


@keyframes glow {
  0% {
    box-shadow: 0 0 52px 5px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 220px 5px rgba(255, 255, 255, 1);
  }
}

#playAgainButton.draw {
  color: orange; 
}

#playAgainButton.win {
  color:hsl(214, 47%, 23%) ;  
}

#playAgainButton.lose {
  color: red;  
}

#playAgainButton:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 34vh;
}

@keyframes colorChange {
  0% {
    color: #ff0000; 
  }
  50% {
    color: #0000ff; 
  }
  100% {
    color: #00ff00; 
  }
}

footer {
  font-size: 14px;
  margin-top: 150px;
  text-align: center;
}

footer.attribution {
  font-size: 14px;
  color: white;
  bottom: 30px;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  td span {
    font-size: 3rem; 
  }

  #playAgainButton {
    padding: 12px 40px;
    font-size: 12px;
    top: 30px;
  }

  .item {
  font-size: 2rem;
  }

  .score-board {
    width: 90%; 
    height: 130px;
    margin-top: 10px;
  }

  table {
    width: 30%;
    margin-top: -120px;
    height: 100px;
  }

  .choice-btn {
    padding: 40px; 
    margin: 20px;
  }

  .choice-btn img {
    width: 50px;
    height: 50px;
  }

  #result {
    font-size: 22px; 
  }

  #rulesContainer {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0px; 
    top: 50%;
    transform: translateY(-45%);
    width: 100%;
    height: 70%;
    background-color: whitesmoke; 
    justify-content: center;
    align-items: center;
    border-radius: 5%;
  }

  footer {
    font-size: 10px;
  }
}


@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  td span {
    font-size: 3rem; 
  }

  #playAgainButton {
    padding: 12px 40px;
    font-size: 12px;
    top: 30px;
  }

  .item {
  font-size: 2rem;
  }

  .score-board {
    width: 90%; 
    height: 130px;
    margin-top: 10px;
  }

  table {
    width: 30%;
    margin-top: -120px;
    height: 100px;
  }

  .choice-btn {
    padding: 40px; 
    margin: 20px;
  }

  .choice-btn img {
    width: 50px;
    height: 50px;
  }

  #result {
    font-size: 22px; 
  }
  #rulesContainer {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0px; 
    top: 50%;
    transform: translateY(-45%);
    width: 100%;
    height: 70%;
    background-color: whitesmoke; 
    justify-content: center;
    align-items: center;
    border-radius: 5%;
  }
  
  footer {
    font-size: 10px;
  }
}
